.card{
  /*padding-left: 20%;*/
  /*border-left: 20%;*/
  margin-left: 10%;
  margin-bottom: 10%;
  height: 480px;
  width: 260px;
  background-image: url(http://i.i.cbsi.com/cnwk.1d/i/tim/2012/02/22/fmimg518127853912291699.jpg);
}

